.lockscreen
{
    width:100%;
    height:100%;
    background-color: white;
    position: fixed;
    opacity: .4;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.applylockscreen
{
    opacity: .4;
    visibility: visible;
}
.spinner
{
    width:80px;
    height: 80px;
    border-radius: 50%;
    border-top:solid 5px rgb(21, 21, 21);
    border-right:solid 5px rgb(42, 40, 40);
    border-bottom:solid 5px rgb(55, 56, 55);
    border-left:solid 5px transparent;
    animation:spin 2s linear infinite;
}
@keyframes spin {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
